html{
  background-color: #f4a4c0;
  margin-left:200px; margin-right:200px;

}
body{
  background-color: white;
  margin: 100px;
  text-align: center;
 
}

img{
  width: 500px;
  height: auto;
}

h1{
  font-size:50px;
 font-weight: bold;

}
h2{
  font-size:30px;
  margin-left: 100px;
  margin-right: 100px;
}
p{
  font-size:25px;
}
ul{
  font-size:25px;
}
#adoptnow{
  display: flex;
  justify-content: center;
}