/* html, body {
  height: 100%;
  width: 100%;
} */

html,body {
  scroll-behavior: smooth;
}

.ad_title{
  margin: 10%;
}

.select_pet, .select_service, .select_delivery, .comment{
  margin: 1% 10%;
}

#cart{
  margin: 10%;
}